/* imports */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&family=Fira+Code:wght@300;400;500;600;700&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');

/* presets */
*, *::before, *::after{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root{
  --ff-heading: 'Dancing Script', cursive;
  --ff-normal: 'Roboto Flex', sans-serif;
  --ff-code: 'Fira Code', monospace;
  --ff-nav: 'Dosis', sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800; 
  --fs-heading: clamp(2rem, 4vw, 3.5rem);
  --fs-sheading: clamp(1.50rem, 2.5vw, 2rem);
  --fs-normal: clamp(1rem, 2vw, 1.25rem);
  --fs-nav: clamp(1.125rem, 2vw, 1.30rem);
  --clr-primary: white;
  --clr-secondary: black;
  --clr-accent: #08F;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 0.6em;
}

::-webkit-scrollbar-track{
}

::-webkit-scrollbar-thumb{
  border: 2px solid var(--clr-primary);
  background-color: var(--clr-accent);
  border-radius: 1000vmax;
}

img{
  width: 100%;
  display: block;
}

a{
  text-decoration: none;
  color: unset;
  display: block;
}

/* fonts settings */
.font-normal{
  font-family: var(--ff-normal);
  font-size: var(--fs-normal);
  line-height: 1.6;
}

.font-heading{
  font-family: var(--ff-heading);
  font-size: var(--fs-heading);
  font-weight: var(--fw-semibold);
  line-height: 1.1;
}

.font-sheading{
  font-family: var(--ff-sheading);
  font-size: var(--fs-sheading);
  font-weight: var(--fw-semibold);
  line-height: 1.1;
}


.font-nav{
  font-family: var(--ff-nav);
  font-size: var(--fs-nav);
  line-height: 1;
}

.monospace-text{
  font-family: var(--ff-code);
}


/* general styles */
.header{
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--clr-accent);
}

.header__img__container{
  width: 2.8em;
}

.navbar{
  width: fit-content;
  display: none;
}

.navbar__list{
  list-style-type: none;
  display: flex;
}

.navbar__link{
  padding: 0.3em;
  margin: 0.01em;
  text-transform: lowercase;
  border: 1px solid var(--clr-primary);
  transition: background-color 350ms ease-in-out, color 350ms ease-in-out;
  cursor: pointer;
  border-radius: 2px;
}

.navbar__link:hover{
  color: var(--clr-primary);
  background-color: var(--clr-accent);
}

.nav__menu{
  font-size: calc(var(--fs-sheading) * 1.125);
  color: var(--clr-accent);
}

@media (min-width: 768px){
  .nav__menu{
    display: none;
  }
  .navbar{
    display: block;
  }
}

.section{
  padding: 3em;
}

.section__heading{
  margin-bottom: .7em;
  
}

.section__subheading{
  font-size: var(--fs-sheading);
  margin-bottom: 1em;
}

/* specific styles */

.section--hero{
  background: var(--clr-accent);
  color: var(--clr-primary);
}

.section--hero__img__container{
  width: 100%;
}

.typewriter{
  position: relative;
}

.typewriter::before{
  content: '';
  background: var(--clr-accent);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: typewriter 4s steps(11) infinite;
}

.typewriter::after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: white;
  animation: typewriter 4s steps(11) infinite, cursorblink 1s infinite;
}

@keyframes typewriter{
  0%, 20%, 100%{
    left: 0;
  }
  60%, 70%{
    left: 100%;
  }
}

@keyframes cursorblink{
  0%{
    width: 1px;
  }
  80%{
    width: 0%;
  }
  100%{
    width: 0%;
  }
}

@media (min-width: 768px){
  .section--hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80vh;
  }
  .section--hero__img__container{
    width: 50%;
  }
}

.section--about__header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section--about__content{
  text-align: justify;
}

.section--about__img__container{
  width: 10em;
  height: 10em;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 1.5em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.section--skills{
  background-color: var(--clr-accent);
  color: var(--clr-primary);
}

.section--skills__header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills__list{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap:2em;
}

.skills__item{
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  margin: 2em;
  width: 10em;
  height: 6em;
  flex-wrap: wrap;
  border-radius: 5px;
  background-size: contain;
  background-position: center;
  margin: auto;
}

.skills__item--c{
  background-image: url(https://www.engineerhack.com/wp-content/uploads/2020/12/c-programming.jpg);
}

.skills__item--cpp{
  background-image: url(https://www.educative.io/v2api/editorpage/5393602882568192/image/6038586442907648);
}

.skills__item--html{
  background-image: url(./assets/html-css-js-icon-set-web-development-logo-javascript-programming-symbol-171669655.jpg);
}

.skills__item--nodejs{
  background-image: url(https://images.ctfassets.net/aq13lwl6616q/7cS8gBoWulxkWNWEm0FspJ/c7eb42dd82e27279307f8b9fc9b136fa/nodejs_cover_photo_smaller_size.png?w=700&fm=webp);
}

.skills__item--express{
  background-image: url(https://i0.wp.com/iotbyhvm.ooo/wp-content/uploads/2019/01/expressjs.png?fit=872%2C472&ssl=1);
}
 
.skills__item--mongodb{
  background-image: url(https://webimages.mongodb.com/_com_assets/cms/kuzt9r42or1fxvlq2-Meta_Generic.png);
  background-size: cover;
}

.skills__item--react{
  background-image: url(https://latitudetechnolabs.com/wp-content/uploads/2022/05/ReactJS-logo.png);
}
